
header {
    display: flex;
   
}

nav {
    background-color: #0082e6;
    line-height: 1.5;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 2rem;
}

.logo {
    color:white;
    font-size: 3rem;
    font-weight: bold;
   
}

.nav-links {
    margin-right: 40px;
    
}



a:link {
    color:white;
    text-decoration: none;
    margin-right: 30px;
}

a:visited {
    color:white;
}
.nav-item {
    margin-right: 10px;
    
}

.top-bar {
    width:100%;
    height: 100px;    
    background-image: url("images/headbanner.svg");
    border: 3px solid black;
    text-align: right;

}

.top-bar p {
    display: inline-block;
    text-align: right;
    background-color: white;
    position:relative;
    top: 30px;
    font-size: 2rem;
    margin-right:35px;

   
}


